<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>-</title>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flowbite -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Starability -->
    <link rel="stylesheet" href="/form/stylesheets/starability-basic.css" />

    <!-- For Backend #1 Start -->
    <script src="/auth/js/getAuthUserInfo.js"></script>
    <script src="/form/js/createResponse.js"></script>
    <!-- For Backend #1 End -->
  </head>
  <body
    class="h-screen flex flex-col bg-gradient-to-r from-[#003366] to-[#0066CC]"
    style="font-family: Inter, sans-serif"
  >
  <!-- For Backend #2 START -->
  <h1 id="event-id" style="display: none;"><%= event._id %></h1>
  <h1 id="department-id" style="display: none;"><%= department._id %></h1>
  <h1 id="form-id" style="display: none;"><%= form._id %></h1>
  <!-- For Backend #2 END -->
    <img
      src="/form/images/background.jpg"
      class="absolute z-0 h-screen w-screen object-cover opacity-[25%]"
    />
    <!-- Navigation bar -->
    <nav class="px-6 py-4 justify-between items-center flex z-10">
      <a href="#"
        ><img src="/form/images/Logo UPH.svg" alt="Logo UPH" class="w-32"
      /></a>
    </nav>
    <!-- Main content -->
    <main class="flex flex-grow items-center justify-center mb-24 px-12 z-20">
      <!--
        For Backend Modifications:
          - Changed id to "main-form"
      -->
      <form
        action=""
        method="POST"
        novalidate
        id="main-form"
        class="relative w-full"
        data-carousel="static"
      >
        <!-- For Backend #3 Start -->
        <input type="hidden" name="eventId" value="<%= event._id %>" />
        <input
          type="hidden"
          name="departmentId"
          value="<%= department._id %>"
        />
        <input type="hidden" name="formId" value="<%= form._id %>" />
        <!-- For Backend #3 End -->

        <!-- Carousel Wrapper Start-->
        <div
          class="relative h-[70vh] overflow-hidden rounded-xl shadow-xl bg-white/5"
        >
          <% const questions = form.questions;
          for( let i=0; i<questions.length; i++ ){
            %>
            <% if(i == 0){
              %>
              <!-- Question #1 Start -->

          <div
          class="hidden duration-700 ease-in-out px-4"
          data-carousel-item="active"
        >
          <div
            class="w-full h-full flex flex-col items-center justify-center"
          >
            <img src="/form/images/Vector.png" alt="" srcset="" />
            <div class="flex flex-col items-center">
              <p class="text-xl md:text-3xl font-light text-white">
                INFORMATICS
              </p>
              <p
                class="text-white text-2xl md:text-4xl text-center font-extrabold mt-4 mb-12"
              >
              <%= questions[i] %>
              </p>
              <div class="flex flex-col group">
                <fieldset class="starability-basic">
                  <!--
                    For Backend Modifications:
                      - Changed name to "ratings"
                  -->
                  <input
                    type="radio"
                    id="no-rate<%= i %>"
                    class="input-no-rate"
                    name="ratings<%= i %>"
                    value="1"
                    checked
                    aria-label="No rating."
                  />
                  <input
                    type="radio"
                    id="first-rate<%= i %>1"
                    name="ratings<%= i %>"
                    value="1"
                  />
                  <label for="first-rate<%= i %>1" title="Terrible">1 star</label>
                  <input
                    type="radio"
                    id="first-rate<%= i %>2"
                    name="ratings<%= i %>"
                    value="2"
                  />
                  <label for="first-rate<%= i %>2" title="Not good">2 stars</label>
                  <input
                    type="radio"
                    id="first-rate<%= i %>3"
                    name="ratings<%= i %>"
                    value="3"
                  />
                  <label for="first-rate<%= i %>3" title="Average">3 stars</label>
                  <input
                    type="radio"
                    id="first-rate<%= i %>4"
                    name="ratings<%= i %>"
                    value="4"
                  />
                  <label for="first-rate<%= i %>4" title="Very good">4 stars</label>
                  <input
                    type="radio"
                    id="first-rate<%= i %>5"
                    name="ratings<%= i %>"
                    value="5"
                  />
                  <label for="first-rate<%= i %>5" title="Amazing">5 stars</label>
                </fieldset>
              </div>
              <!-- Slider controls -->
              <button
                type="button"
                class="flex items-center justify-center w-full bg-[#E5EDF4] mt-36 px-4 py-3 rounded-lg cursor-pointer group focus:outline-none"
                data-carousel-next
              >
                <p class="font-bold text-sm md:text-xl text-[#003366]">
                  Next
                </p>
              </button>
            </div>
          </div>
        </div>
        <!-- Question #1 End -->
              <%
            }else if(i === questions.length-1){
              %>
              <!-- Question #last Start-->
          <div class="hidden duration-700 ease-in-out px-4" data-carousel-item>
            <div
              class="w-full h-full flex flex-col items-center justify-center"
            >
              <img src="/form/images/Vector.png" alt="" srcset="" />
              <div class="flex flex-col items-center">
                <p class="text-xl font-light text-white">INFORMATICS</p>
                <p
                  class="text-white text-2xl text-center font-extrabold mt-4 mb-12"
                >
                  <%= questions[i] %>
                </p>
                <div class="flex flex-col group">
                  <fieldset class="starability-basic">
                    <input
                      type="radio"
                      id="no-rate<%= i %>"
                      class="input-no-rate"
                      name="ratings<%= i %>"
                      value="1"
                      checked
                      aria-label="No rating."
                    />
                    <input
                      type="radio"
                      id="first-rate<%= i %>1"
                      name="ratings<%= i %>"
                      value="1"
                    />
                    <label for="first-rate<%= i %>1" title="Terrible">1 star</label>
                    <input
                      type="radio"
                      id="first-rate<%= i %>2"
                      name="ratings<%= i %>"
                      value="2"
                    />
                    <label for="first-rate<%= i %>2" title="Not good">2 stars</label>
                    <input
                      type="radio"
                      id="first-rate<%= i %>3"
                      name="ratings<%= i %>"
                      value="3"
                    />
                    <label for="first-rate<%= i %>3" title="Average">3 stars</label>
                    <input
                      type="radio"
                      id="first-rate<%= i %>4"
                      name="ratings<%= i %>"
                      value="4"
                    />
                    <label for="first-rate<%= i %>4" title="Very good">4 stars</label>
                    <input
                      type="radio"
                      id="first-rate<%= i %>5"
                      name="ratings<%= i %>"
                      value="5"
                    />
                    <label for="first-rate<%= i %>5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                <!-- Slider controls -->
                <div class="mt-36 flex w-full justify-center gap-x-2">
                  <button
                    type="button"
                    class="flex items-center justify-center w-[20%] bg-[#E5EDF4] rounded-lg cursor-pointer group focus:outline-none"
                    data-carousel-prev
                  >
                    <img src="/form/images/back-arrow.png" />
                  </button>
                  <button
                    type="button"
                    class="flex items-center justify-center w-[80%] bg-[#E5EDF4] px-4 py-3 rounded-lg cursor-pointer group focus:outline-none"
                    data-carousel-prev
                    id="submit-btn"
                  >
                    <p class="font-bold text-sm md:text-xl text-[#003366]">
                      Submit Feedback
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Question #last End-->
              <%
            }else{
              %>
              <!-- Question #n Start -->
              <div
              class="hidden duration-700 ease-in-out px-4"
              data-carousel-item="active"
              >
                <div
                  class="w-full h-full flex flex-col items-center justify-center"
                >
                  <img src="/form/images/Vector.png" alt="" srcset="" />
                  <div class="flex flex-col items-center">
                    <p class="text-xl md:text-3xl font-light text-white">
                      INFORMATICS
                    </p>
                    <p
                      class="text-white text-2xl md:text-4xl text-center font-extrabold mt-4 mb-12"
                    >
                    <%= questions[i] %>
                    </p>
                    <div class="flex flex-col group">
                      <fieldset class="starability-basic">
                        <!--
                          For Backend Modifications:
                            - Changed name to "ratings"
                        -->
                        <input
                          type="radio"
                          id="no-rate"
                          class="input-no-rate"
                          name="ratings<%= i %>"
                          value="1"
                          checked
                          aria-label="No rating."
                        />
                        <input
                          type="radio"
                          id="first-rate1"
                          name="ratings<%= i %>"
                          value="1"
                        />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input
                          type="radio"
                          id="first-rate2"
                          name="ratings<%= i %>"
                          value="2"
                        />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input
                          type="radio"
                          id="first-rate3"
                          name="ratings<%= i %>"
                          value="3"
                        />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input
                          type="radio"
                          id="first-rate4"
                          name="ratings<%= i %>"
                          value="4"
                        />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input
                          type="radio"
                          id="first-rate5"
                          name="ratings<%= i %>"
                          value="5"
                        />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    </div>
                    <!-- Slider controls -->
                    <button
                      type="button"
                      class="flex items-center justify-center w-full bg-[#E5EDF4] mt-36 px-4 py-3 rounded-lg cursor-pointer group focus:outline-none"
                      data-carousel-next
                    >
                      <p class="font-bold text-sm md:text-xl text-[#003366]">
                        Next
                      </p>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Question #n End -->
              <%
            }
          } %>
          
        </div>
        <!-- Carousel Wrapper End-->
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex -translate-x-1/2 space-x-1 rtl:space-x-reverse bottom-5 left-1/2"
        >
          <button
            type="button"
            class="w-2 h-2 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"
          ></button>
          <button
            type="button"
            class="w-2 h-2 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"
          ></button>
        </div>
      </form>
    </main>
    <!-- Flowbite -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
  </body>
</html>
